/* CSS TABLE OF CONTENTS 

#GLOBALS/BASE
    #RESET
    #COLORS
    #TYPOGRAPHY
        #BODY
        #LINKS
        #HEADINGS
        #PARAGRAPHS
        #LISTS
        #HELPERS
        #BLOCK QUOTES
    #MEDIA
        #IMAGES (RESPONSIVE)
    #COMPONENTS/UI ELEMENTS
        #BUTTONS
    #LAYOUT
        #CONTAINER
        #MEDIA QUERIES
        #GRID SYSTEM
    #SITE STRUCTURES
        #SITE HEADER
            #SITE ID
        #SITE MAIN
        #SITE FOOTER
        #SITE NAV
            #TOGGLE NAV
        #SECTIONS
        #SUB PAGES
*/


/* GLOBAL RESET */
* { box-sizing: border-box;} /* ASTERICK SET EVERYTHING TO NOT RENDER PADDING AND BORDER */
body {margin: 0;}

/* GLOBAL COLORS */
body {
    background: rgb(247, 245, 245);
    }

    a { color: rgb(61, 61, 54); }
/* GLOBAL TYPOGRAPHY */
/* Reference
	62.5%  => 10px
	68.8%  => 11px
	75%    => 12px
	81.3%  => 13px
	87.5%  => 14px
	100%   => 16px
	112.5% => 18px
	125%   => 20px
*/
body {
    font-family: Helvetica, Arial, sans-serif; /* FONT STACK */
    font-size: 100%; /* THIS SETS 1em EQUAL TO 16px */
    line-height: 1.4;
    /* align-content: center; */
    /* text-align: center; */
    }
    
h1 {
    font-family: "badaboom-pro", impact, sans-serif; /* FONT STACK */
    font-style: italic; 
    }

nav, h2, h3, h4 {
    font-family: 'Kalam', cursive;
}

/* HEADING */
h1,h2,h3,h4,h5,h6 {
    margin: .5em 0;
}

h1 {
    font-size: 4em; /* 48px based on a 16px em */
    line-height: 1; /*LINE HEIGHT ADJUST LEADING */
}

h2 {
    font-size: 2.25em; /* 36px based on a 16px em */
    line-height: 1.1;
}

h3 {
    font-size: 1.5em; /* 24px based on a 16px em */
    line-height: 1.2;
    text-align: center;
}

h4 {
    font-size: 1.5em; /* 24px based on a 16px em */
    line-height: 1.2;
}

h5 {
    font-size: 1.125em; /* 18px based on a 16px em */
    line-height: 1.4;
}

h6 {
    font-size: 1em; /* 16px based on a 16px em */
}

.typesheader {
    text-align: center;
    
}

/* PARAGRAPH */
p {
    max-width: 35em; /* EM DETERMINED BY NUMBER OF WORDS */
}

/* TYPE SPECIMEN */

.headline {
    font-size: 4em;
    font-weight: bold;
}

.subheadline {
    font-size: 2em;
    line-height: 1.2;
    font-weight: normal;
    color: rgba(0,0,0,.7);
}

.date {
    color: rgba(0,0,0,5);
}

/* LINK */
a {
    color: rgba(red, green, blue, alpha);
    text-decoration: none;
}

a:hover {
    color: rgba(235, 93, 11, 0.8);
    text-decoration: underline;
}

a:visited {
    color: rgba(rgb(146, 107, 107), green, blue, alpha)
}

/* HELPER */
@media (min-width:768px) {
    .hideonlarge {
        visibility: hidden;
    }
}

/* MEDIA */
img {
    max-width: 100%; /*2 lines universal code set responsive images */
    height: auto;
}


/* BUTTONS */
.button,
button,
input[type="submit"]{
    font-size: 1em;
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 1em 1.5em; /* THIS ADJUST THE SIZE OF THE BUTTON */
    border-radius: .5em; /* THIS ADJUST THE SHAPE OF THE BUTTON*/
    text-transform: uppercase;
    border-spacing: .05em;
    line-height: 1;
    text-align: center;
}

.button:hover, button:hover, input[type="submit"]:hover {
    color: white;
    background-color: navy;
    text-decoration: none;
}

.button.alt {
    background-color: transparent;
    color: navy;
    border: 1px solid navy;
}

.button.alt:hover {
    background-color: navy;
    color: white;
}

/* BASE LAYOUT */

/* CONTAINER */



/* MEDIA QUERIES */

/* FOR SMALL-SIZED DEVICES (PHONE) */
body {
    font-size: 87.5%; /* 14px */
}

.container {
    padding: 0 1em;
    margin: 0 auto;
}

/* FOR MID-SIZED DEVICES (TABLET) */
@media (min-width:768px) {
}

/* FOR LARGE-SIZED DEVICES (LAPTOP) */
@media (min-width:1000px) {
    body {
        font-size: 100%; /* 16px */
    }
    .container {
        max-width: 1000px; 
    }
}

/* FOR EXTRA-LARGE-SIZED DEVICES (DESKTOP) */
@media (min-width:1200px) {
    body {
        font-size: 112.5%; /* 18px */
    }
    .container {
        max-width: 1200px; 
    }
}

/* GRID SYSTEM */

.column {
    margin-top: 1%; /* ADJUST GAP BETWEEN GRID */
    margin-bottom: 1%; /* ADJUST GAP BETWEEN GRID */
}

@media (min-width: 768px) {
    .row {
        display: flex;
        margin-left: -10%;
        margin-right: -1%;
    }
    .column {
        flex-grow: 0;
        margin-left: 1%;
        margin-right: 1%;
    }
    .one-whole { width: 100%; }
    .one-half { width: 48%; }
    .one-third { width: 31.3333%; }
    .push-one-third { margin-left: 34.3333%; }
    .two-thirds { width: 64.6666%; }
    .one-fourth { width: 23%; }
    .push-one-fourth { margin-left: 26%; }

    .row.centered {
        justify-content: center;
    }

    .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

/* SITE STRUCTURE */


.site-header {
    padding: 1em .5em;
}

@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
    }
}

.site-header,
.site-footer {
    text-align: center;
}

.site-header a,
.site-footer a {
    color: rgba(0,0,0,8);
    text-decoration: none;
}

.site-header a:hover,
.site-footer a:hover {
    color: rgba(0,0,0,1);
}

/* .site-id {
    
} */

.site-id .logo {
    max-width: 150px;
}

.site-id h1 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}

.site-id a {
    display: inline-block;
    padding: .25em 0;
}

/* STICKY header - works with a class="sticky" on .site-header */
.site-header.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #fff;
  }
  
  .site-header.sticky + .site-main {
    padding-top: 3em;
  }

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.site-nav li {
    list-style: none;
}

.site-nav a {
    display: block;
    padding: .5em 1em;
}

.menu-button {
    position: absolute;
    left: -9999px;
    padding: .5em 1em;
}

.menu-button:hover {
    cursor: pointer;
}

.menu-button::selection {
    color: none;
    background: none;
}

/* TOGGLE NAV */
@media (max-width: 767px) {

    .toggle-nav .site-id h1 {
        text-align: left;
    }

    .toggle-nav .menu-button {
        position: absolute;
        left:auto;
        top: 1em;
        right: 1.5em;
    }
    .toggle-nav .site-nav {
        text-align: center;
    }

    /* HIDE NAV ON SMALL SCREEN */
    .toggle-nav .site-nav ul {
        position: absolute;
        left: -9999px;
    }

    .toggle-nav.expanded .site-nav ul {
        position: static;
        left: auto;
        display: block;
    }

    .toggle-nav.expanded .site-nav a {
        background: rgba(235, 93, 11, 0.8);;
        color: white;
        margin: .5em 0;
        padding: 1em;
    }

    .toggle-nav.expanded .site-nav a:hover {
        background: rgba(170, 62, 0, 0.8);
    }
}
/* ANIMATE SITE NAV */
.toggle-nav .site-nav ul {
    transition: all 1s ease;
    max-height: 0;
}

.toggle-nav.expanded .site-nav ul {
    max-height: 400px;
}

/* NAVICON */
.navicon {
    color: rgba(0,0,0,0);
    padding: 0;
}

.navicon::after {
    content: "\2630";
    display: inline-block;
    color: rgba(0,0,0,1);
    font-size: 1.5em;
    transform: rotate(0deg);
}

.expanded .navicon::after {
    content: "\2715";
    transition: transform .4s ease-out;
    transform: rotate(-90deg);
}
/* .site-main {
    
} */

.site-footer {
    padding: 1em .5em 2em .5em;
}

/* SECTIONS */

section {
    padding: 4em 0;    
    background-size: cover;
    /* min-height: 100vh; */
    display: block;
    /* place-items: center; */
    border-width: 28px 56px 28px 56px; /* top right bottom left */
    border-style: solid;
    border-color: white;
}

section:nth-child(even) {
    background-color: rgba(0,0,0,.025);
}

section:last-child {
    padding-bottom: 10em;
}

#about { background-image: url('../img/bg1.png'); }
#areas { background-image: url('../img/bg2.png'); }
#types { background-image: url('../img/bg3.png'); }
#causes { background-image: url('../img/bg4.png'); }
#treatments { background-image: url('../img/bg5.png'); }
#support { background-image: url('../img/bg6.png'); }


/* SECTIONS */

/* ABOUT SECTION */


.aboutimage {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 4em;
}

.aboutcard {
    background: white;
    border: 12px solid black;
    margin: 2em;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    /* position: relative; bottom:500px; */
}

@media (min-width:768px) {

    #about .container {
        display: flex;
        align-items: center;
        margin-bottom: -6em;
    }

    .aboutimage {
        width: 40%;
        margin-left: -8%;
    }
}

/* AREAS SECTION  */


.areas-row1 {
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
}

.areascard {
    background: white;
    border: 5px solid black;
    border-radius: 100%;
    margin: 2em;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: center;
    order: 2;
}

.lhandimage {
    position: absolute;
    top: -5em;
    left: 0;
    order: 1;
    max-width: 20%;
}

.rhandimage {
    position: absolute;
    top: -5em;
    right: 0;
    order: 3;
    max-width: 20%;
}

.areas-row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.bubble1card {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: center;
    max-width: 40%;
}

.bubble2card {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: center;
    max-width: 40%;
}

.bubble3card {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: center;
    max-width: 40%;
}

.bubble4card {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: center;
    max-width: 40%;
}

@media (min-width: 768px) {

    .lhandimage,
    .rhandimage {
        position: static;
        top: auto;
        left: auto;
        right: auto;
        margin-top: -5em;
    }

    .lhandimage {
        max-width: 15%;
    }
    
    .rhandimage {
        max-width: 17%;
    }

    .areascard {
        max-width: 50%;
        margin: 2em auto;
    }
}








.bubble1image {
    margin-left: 10%;
    max-width: 40%;
    float: left;
    position: relative; 
    z-index: 7;
}

.feetimage {
    margin-left: 20%;
    max-width: 17%;
    float: left;
    position: absolute; 
    z-index: 8;
    transform: rotate(-20deg);
}

.bubble2image {
    max-width: 30%;
    margin-left: 60%;
    float: left;
    position: relative; 
    z-index: 9;
}

/* CAUSES SECTION */

.causesimage {
    max-width: 150%;
    margin-left: 40%;
}

.armpitimage {
    max-width: 15%;
    margin-left: 60%;
    position: absolute; 
    z-index: 10;
}

.bubble3image {
    margin-left: 10%;
    max-width: 35%;
    margin-left: 10%;
    float: left;
}

.bubble4image {
    margin-left: 10%;
    max-width: 33%;
    margin-left: 60%;
}

.lfootimage {
    float: left;
    margin-left: -5%; 
    position: relative; 
    z-index: 1;
    max-width: 5%;
}

.rfootimage {
    float: left;
    margin-left: 52%;
    position: relative; 
    z-index: 2;
}



.typescard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: center;
}

.causescard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: center;
    max-width: 20%;
    margin-left: 55%;
}

.treatmentscard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
    max-width: 25%;
    margin-left: 68%;
}

.generalizedcard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: -15px -15px 0 0 black;
    text-align: left;
    max-width: 12%;
    margin-left: 10%;
    float: left;
}

.palmarcard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
    max-width: 12%;
    margin-left: 10%;
    float: left;
}

.axillarycard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: -15px -15px 0 0 black;
    text-align: left;
    max-width: 12%;
    margin-left: 10%;
    float: left;
}

.facialcard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
    max-width: 12%;
    margin-left: 76%;
}

.primarycard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
    max-width: 20%;
    margin-left: 20%;
    float: left;
}

.secondarycard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
    max-width: 20%;
    margin-left: 60%;
}

.overactivitycard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
    max-width: 20%;
    margin-left: 5%;
}

.geneticcard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
    max-width: 20%;
    margin-left: 25%;
}

.deficiencyccard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
    max-width: 20%;
    margin-left: 5%;
    float: left;
}

.antipercircle {
    background: white;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    margin-left: 20%;
    position: relative; 
    z-index: 11;
    float: left;
}

.antipercard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
    max-width: 15%;
    margin-left: 43%;
    position: relative; 
    z-index: 3;
}

.ioncard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
    max-width: 15%;
    margin-left: 10%;
    position: absolute; 
    z-index: 4;
    float: left;
}

.ioncircle {
    background: white;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    margin-left: 30%;
    position: relative; 
    z-index: 12;
    float: left;
}

.botoxcard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
    max-width: 15%;
    margin-left: 55%;
    position: relative; 
    z-index: 5;
    float: left;
}

.botoxcircle {
    background: white;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    margin-left: 75%;
    position: relative; 
    z-index: 13;
}

.surgerycard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
    max-width: 15%;
    margin-left: 80%;
    position: relative; 
    z-index: 6;
}

.surgeoncircle {
    background: white;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    margin-left: 60%;
    position: relative; 
    z-index: 14;
    float: left;
}

.supportcard {
    background: white;
    border: 5px solid black;
    margin: 2em 0;
    padding: 2em;
    box-shadow: 15px 15px 0 0 black;
    text-align: left;
}

.areascardtop {
    background: white;
    border: 2px solid black;
    max-width: 200px;
    margin: .5em;
    padding: 0;
    box-shadow: 2px 2px 0 0 black;
    display: grid;
    place-items: center;
    text-align: center;
}

.treatmentscardtop {
    background: white;
    border: 2px solid black;
    max-width: 200px;
    margin: .5em;
    padding: 0;
    box-shadow: 2px 2px 0 0 black;
    display: grid;
    place-items: center;
    text-align: center;
}

.typescardtop {
    background: white;
    border: 2px solid black;
    max-width: 200px;
    margin: .5em;
    padding: 0;
    box-shadow: 2px 2px 0 0 black;
    display: grid;
    place-items: center;
    text-align: center;
}

.causescardtop {
    background: white;
    border: 2px solid black;
    max-width: 200px;
    margin: .5em;
    padding: 0;
    box-shadow: 2px 2px 0 0 black;
    display: grid;
    place-items: center;
    text-align: center;
}

.treatmentscardtop {
    background: white;
    border: 2px solid black;
    max-width: 200px;
    margin: .5em;
    padding: 0;
    box-shadow: 2px 2px 0 0 black;
    display: grid;
    place-items: center;
    text-align: center;
}

.supportcardtop {
    background: white;
    border: 2px solid black;
    max-width: 200px;
    margin: .5em;
    padding: 0;
    box-shadow: 2px 2px 0 0 black;
    display: grid;
    place-items: center;
    text-align: center;
}

/* ABOUT */
.hero {
    text-align: center;
    background-color: rgba(204,204,204,1);
    padding: 6em 1em; 
}

.hero h2 {
    font-size: 3em;
    line-height: 1;
}

.hero p {
    margin-left: auto;
    margin-right: auto;
}
/* ARTICLE */
article {
    padding: 4em 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

article .date + p::first-letter {
    color: red;
    font-size: 5.6em;
    line-height: 1;
    font-weight: bold;
    float: left;
    margin: 0 .1em 0 0;
    padding: 0;
    display: block;
}

article .date + p::first-line {
    text-transform: uppercase;
    font-weight: bold;
}

/* FORMS */

form {
    padding: 1em 0;
}

label, input {
    display: block;
}

label, input[type="text"], textarea {
    width: 100%;
}

label {
    margin-top: 1em;
    margin-bottom: .5em;
}

input, textarea {
    background-color: rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.2);
    padding: 1em;
    font-size: inherit;
}

input[type="submit"] {
    margin-top: 1em;
}

/* CUSTOM SITE CSS */
.section-title {
    text-align: center;
    margin-bottom: 3em;
}

.section-title-left {
    text-align: left;
    margin-bottom: 3em;
}

.section-title-left::after {
    content: "";
    display: block;
    width: 1000px;
    margin: 0.5em auto;
    border-bottom: 4px solid black;
}

.site-header.sticky {
    position: fixed;
    width: 100%;
}

.site-header.sticky + main {
    padding-top: 3em;
}

/* FOR LAYOUT DEMO PURPOSES ONLY */

.demo .column {
    background: rgba(136, 12, 12, 0.2);
    padding: .5em;
    text-align: center;
}

.demo .column p {
    max-width: none;
}

/* FOR SMALL-SIZED DEVICES (PHONE) */
body.demo::before{
    content: "Small Screen < 768px";
    display: block;
    background: red;
    color: white;
    text-align: center;
    padding: .2em;
}
/* FOR MID-SIZED DEVICES (TABLET) */
@media (min-width:768px) {
    body.demo::before { 
        content: "Mid-Sized Screen 768px - 999px";
        background: blue;}
}

/* FOR LARGE-SIZED DEVICES (LAPTOP) */
@media (min-width:1000px) {
    body.demo::before { 
        content: "Large-Sized Screen 1000px - 1199px";
        background: green;}
}

/* FOR EXTRA-LARGE-SIZED DEVICES (DESKTOP) */
@media (min-width:1200px) {
    body.demo::before { 
        content: "Mid-Sized Screen > 1200px";
        background: yellow;}
}

/* FOR DEV TESTING ONLY */
/* * {
    background-color: rgba(255,0,0,.2);
    color: rgba(255,0,0,.1);
    box-shadow: 0 0 0 3px inset rgba(255,0,0,1);
}

.site-header {
    background-color: rgba(0,255,0,.4);
    box-shadow: 0 0 0 3px inset rgba(0,255,0,1);
    display: flex;
}

.site-main {
    background-color: rgba(0,0,255,.4);
    box-shadow: 0 0 0 3px inset rgba(0,0,255,1);
}

.site-footer {
    background-color: rgba(255,255,0,.4);
    box-shadow: 0 0 0 3px inset rgba(255,255,0,1);
} */